@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fallback for dvh */
:root {
  --min-height-fallback: 100vh;
}
.min-h-dvh {
  min-height: var(--min-height-fallback);
}
@supports (min-height: 100dvh) {
  :root {
    --min-height-fallback: 100dvh;
  }
}
